<h1><%=@cat.name%></h1>

<table>
  <tr>
    <td>Age</td>
    <td><%=@cat.age%><td>
  </tr>
  <tr>
    <td>Birth Date</td>
    <td><%=@cat.birth_date%><td>
  </tr>
  <tr>
    <td>Sex</td>
    <td><%=@cat.sex%><td>
  </tr>
  <tr>
    <td>Color</td>
    <td><%=@cat.color%><td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%=@cat.description%><td>
  </tr>
</table>
<br>

<table>
  Current rental requests for <%= @cat.name %>
  <% @cat.requests.sort_by { |request| request.start_date }.each do |request| %>
    <% if request.status == "APPROVED" %>
    <tr>
      <td><%= request.start_date %></td>
      <td><%= request.end_date %></td>
    </tr>
    <% end %>
  <% end %>

</table>
<br>

<form action="<%= cat_url(@cat) %>" method="post">
  <input type="hidden" name="_method" value="delete">

  <button>Delete this cat</button>

</form>